.list-with-title {
    font-size: 14px;
    margin: 30px;
    padding: 0;
  
    li {
      list-style-type: none;
      padding: 0;
    }
  
    .listing-title {
      font-size: 24px;
      color: #666666;
      font-weight: 600;
      line-height: 2.2em;
    }
  
    .listing {
      padding: 0;
  
      .listing-post {
        padding-bottom: 5px;
  
        .post-time {
          float: right;
          color: #C5C5C5;
        }
  
        a {
          color: #8F8F8F;
  
          &:hover {
            color: #4786D6;
          }
        }
  
      }
    }
  
    .tag-list-item {
      margin-bottom: 18px;
      .tagcount {
        float: right;
        color: #fefefe;
        min-width: 24px;
        margin-right: 18px;
        background: gray;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 1em;
        text-align: center;
      }
    }
  }