{% extends "section.html" %}

{% block seo %}
  {% set title_addition = "" %}
  {% if config.extra.title_separator %}
    {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
  {% else %}
    {% set title_separator = " | " %}
  {% endif %}

  {% set_global section = get_section(path="_index.md") %}
  {% if section.title and config.title %}
    {% set title = section.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif section.title  %}
    {% set title = section.title %}
  {% else %}
    {% set title = config.title %}
  {% endif %}
  
  {% if page.description %}
    {% set description = section.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description) }}
{% endblock seo %}

{% block body %}
  {% if section.extra.class %}
    {% set page_class = section.extra.class %}
  {% else %}
    {% set page_class = "contributors list" %}
  {% endif %}
{% endblock body %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xxl-8">
        <article>
          <div class="card-list">
				    {% for term in terms %}
                <h2 class="h3"><a class="stretched-link text-body" href="{{ term.permalink | safe }}">{{ term.name }} [{{ term.pages | length }}]</a></h2>
            {% for page in term.pages %}
                    <article class="archive-item">
                        <a href="{{ page.permalink }}">{{ page.title }}</a>
                    </article>
                {% endfor %}
            {% endfor %}
			    </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}




<!-- <!DOCTYPE html>
    
<html>
    <head>

        <link rel="stylesheet" href="{{ get_url(path="css/font.css") }}">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{ get_url(path="css/tags.css") }}">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ get_url(path="css/tags_mobile.css") }}">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{ get_url(path="css/navigatebar.css") }}">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ get_url(path="css/navigatebar_mobile.css") }}">
        <link rel="stylesheet" href="{{ get_url(path="css/highlight.css") }}">
    </head>
    <body>
        <div class="tag-box">
            <div id="archives">
                {% for term in terms %}
                <div class="archive-group">
                    <div id="#{{ term.name }}"></div>
                    <p></p>
                    <a name="{{ term.name }}"><div class="category-head">「{{ term.name }}」</div></a>
                    <a name="{{ term.name }}"></a>
                    {% for page in term.pages %}
                        <article class="archive-item">
                            <a href="{{ page.permalink }}">{{ page.title }}</a>
                        </article>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        
            <div class="categories-area">
                <div class="categories-area-title">
                    [Tags]
                </div>
        
                {% for term in terms %}
                <a
                    class="category-item"
                    href="{{ current_path }}/#{{term.name}}">
                    <div class="category-name">
                        {{ term.name }}
                    </div>
                    <div class="category-number">
                        [{{ term.pages | length }}]
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        


    </body>
</html> -->
