[submodule "src/lock_free_queue_2021_02_05"]
	path = src/lock_free_queue_2021_02_05
	url = https://github.com/frechilla/misc-playground/
[submodule "content/ddia"]
	path = content/ddia
	url = https://github.com/wendajiang/DesigningDataIntensiveApplications
[submodule "CppCoreGuidelines"]
	path = CppCoreGuidelines
	url = https://github.com/wendajiang/CppCoreGuidelines
[submodule "content/http2ia"]
	path = content/http2ia
	url = https://github.com/wendajiang/http2ia
