{% extends "page.html" %}

{% block rss %}{% endblock rss %}

{% block body %}
  {% set page_class = "books single" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~url #}
  {% set current_section = "books" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row flex-xl-nowrap">
	  {{ macros_sidebar::books_sidebar(current_section=current_section) }}
	  <!-- {{ macros_toc::page_toc(page=page) }} -->
    {% if page.extra.url %}
      <iframe class="books-content col-lg-11 col-xl-13" src="{{ page.extra.url }}">
      </iframe>
    {% else %}
      <p>This page not set url of the book.</p>
    {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
