{% macro mermaid() %}
    {% if page.extra.mermaid %}
        <script>
        function initMermaid() {
          var config = {
            startOnLoad: true,
            theme: "neutral",
            flowchart:{
              useMaxWidth: true,
              htmlLabels: true
            }
          };
          mermaid.initialize(config);
          window.mermaid.init(undefined, document.querySelectorAll('.mermaid'));
        }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/mermaid@latest/dist/mermaid.min.js"
          async
          onload="initMermaid()">
        </script>
    {% endif %}
{% endmacro %}
