{% extends "section.html" %}

{% block body %}
  {% set page_class = "blog list" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set current_section = "blog" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xxl-8">
        <article>
            {% set home = get_section(path="_index.md") %}
            <div class="archive-group">
                <a name="Home"><div class="category-head">「Home」</div></a>
                <p></p>
                {% for year, posts in home.pages | group_by(attribute="year") %}
                <ul class="list-with-title">
                    <div class="archive">
                    <div class="listing-title">{{ year }}</div>
                    <ul class="listing">
                    {% for post in posts %}
                        <div class="listing-item">
                            <div class="listing-post">
                                <a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}  &emsp; [{{ post.date | date(format="%Y-%m-%d") }}]</a>
                            </div>
                        </div>
                    {% endfor %}
                    </ul>
                    </div>
                </ul>
                {% endfor %}
                <p></p>
            </div>
            {% for section_path in home.subsections %}
            {% set section = get_section(path=section_path) %}
            {% if section.title != "Archive" %}
            <div class="archive-group">
                <a name="Q&A"><div class="category-head">「{{ section.title }}」</div></a>
                <p></p>
                {% for year, posts in section.pages | group_by(attribute="year") %}
                <ul class="list-with-title">
                    <div class="archive">
                    <div class="listing-title">{{ year }}</div>
                    <ul class="listing">
                    {% for post in posts %}
                        <div class="listing-item">
                            <div class="listing-post">
                                <a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}  &emsp; [{{ post.date | date(format="%Y-%m-%d") }}]</a>
                            </div>
                        </div>
                    {% endfor %}
                    </ul>
                    </div>
                </ul>
                {% endfor %}
                <p></p>
            </div>
            {% endif %}
            {% endfor %}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}



