<!-- inspire
https://github.com/manateelazycat/manateelazycat.github.io
-->

<!DOCTYPE html>

<html>
    <head>

        <link rel="stylesheet" href="{{ get_url(path="css/font.css") }}">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{ get_url(path="css/home.css") }}">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ get_url(path="css/home_mobile.css") }}">
        <link rel="stylesheet" href="{{ get_url(path="single.css") }}">
    </head>
    <body>
        <div class="content">
            
            <div class="slogan">
                「靡不有初，鲜克有终」
            </div>
        
            <!-- content -->
            {{ section.content | safe }}
        </div>
        
    </body>
</html>


