<div class="navigatebar">
    <div class="navigatebar-button navigatebar-mine">
        <a href="{{ config.base_url }}">David</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ config.base_url }}/tags">Tags</a>
    </div>
    {% set index = get_section(path="_index.md") %}
    {% for s in index.subsections %}
        {% set subsection = get_section(path=s) %}
        <div class="navigatebar-button">
            <a href="{{ subsection.permalink }}">{{ subsection.title }}</a>
        </div>
    {% endfor %}
    <div class="navigatebar-button">
        <a href = "{{ config.base_url }}/about/archive">Archive</a>
    </div>
</div>
